.button {
  all: unset;
  cursor: pointer;
  color: white;
  text-align: center;

  &.add {
    padding: 5px 10px;
    background-color: #080;
    border-radius: 5px;
  }

  &.delete {
    padding: 5px;
    color: black;

    &:hover {
      color: red;
    }
  }
}
