.button {
  all: unset;
  cursor: pointer;
  color: white;
  text-align: center;

  &.add {
    padding: 5px 10px;
    background-color: #080;
    border-radius: 5px;
  }

  &.delete,
  &.edit {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    width: 25px;
    height: 25px;

    color: black;

    &:hover {
      color: red;
    }
  }
}
