.wrapper {
  display: flex;
  justify-content: space-between;

  width: 100%;
  min-width: 200px;
  min-height: 100px;
  padding: 10px 15px;

  background-color: white;
  border-radius: 15px;
}

.contentBlock {
  & h3 {
    color: red;
  }
}

.buttonsBlock {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  & button {
    & svg {
      width: 25px;
      height: 25px;
    }
  }
}
