.container {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  align-items: center;
  justify-content: center;

  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px 15px;

  background-color: rgb(51 51 51 / 70%);

  & .newsBlock {
    display: grid;
    row-gap: 15px;
    width: 100%;
  }
}
